<!--
// Project name: SOLVER
// Description: Create webapp that encourages students to vote and register to vote. Presents information
    about how to register and vote, and list of upcoming elections and candidates for those elections.
// Filename: elections\new.html.erb
// Description: page to create new election
// Last modified on: 11/24/2019
-->


<h1>New Election</h1>

<%= form_with scope: :election, url: elections_path, local: true do |form| %>

  <% if @election.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@election.errors.count, "error") %> prohibited
        this election from being added:
      </h2>
      <ul>
        <% @election.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <p>
    <%= form.label :election_title %><br>
    <%= form.text_field :election_title %>
  </p>

  <p>
    <%= form.label :election_date %><br>
    <%= form.date_select :election_date %>
  </p>

  <p>
    <%= form.label :election_type %><br>
    <%= form.text_field :election_type %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>



<%= link_to 'Back to Main Page', main_page_index_path %>